.component {
    background-color: var(--clr-neutral-50);
    border-radius: 20px;
    padding: var(--sp-sm) var(--sp-sm) var(--sp-lg) var(--sp-sm);
    max-width: 20rem;

    &__qr {
        width: 18rem;
        aspect-ratio: 1/1;
        border-radius: 10px;
        margin-bottom: var(--sp-m);
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--sp-sm);
        text-align: center;
        padding: 0 var(--sp-sm);
    }
}